---
import SliderNav from "../../../components/Main/SliderNav.astro";
import Layout from "../../../layouts/Layout.astro";
import TitleTours from "../../../components/Tours/TitleTours.astro"
import MainTours from "../../../components/Tours/MainTours.astro"
import {WEEKEND_TOURS} from "../../../components/Tours/datainfo.js"

const IMG_SLIDER = {
    img1 : '/img/Lima/Weekend/WeekendSlider1.webp',
    img2 : '/img/Lima/Weekend/WeekendSlider2.webp',
    img3 : '/img/Lima/Weekend/WeekendSlider3.webp',
    img4 : '/img/Lima/Weekend/WeekendSlider4.webp',
}
---
<Layout title="Weekend" description="Weekend">
    <SliderNav image1={IMG_SLIDER.img1} image2={IMG_SLIDER.img2} image3={IMG_SLIDER.img3} image4={IMG_SLIDER.img4} h="md:h-[50vh]"/>
    <TitleTours name="Weekend"/>
    <section class="flex min-h-[70vh] justify-center items-center px-4">
      <div class="grid grid-cols-1 gap-5 md:grid-cols-2 mb-8 justify-center items-center max-w-[920px]">
            {
              WEEKEND_TOURS.map ((tour) =>(
                  <MainTours {...tour} />
              ))
            }  
      </div>
    </section>
</Layout>